@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #15151e;
  --f1-red: #e10600;
  --panel: #ffffff;
  --text-muted: #6b7280;
}

.dark {
  --background: #111111;
  --foreground: #f4f4f4;
  --f1-red: #e10600;
  --panel: #1e1e1e;
  --text-muted: #a1a1aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-f1-red: var(--f1-red);
  --color-panel: var(--panel);
  --color-text-muted: var(--text-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
