@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #15151e;
  --f1-red: #e10600;
  --panel: #ffffff;
  --text-muted: #6b7280;
}

.dark {
  --background: #111111;
  --foreground: #f4f4f4;
  --f1-red: #e10600;
  --panel: #1e1e1e;
  --text-muted: #a1a1aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-f1-red: var(--f1-red);
  --color-panel: var(--panel);
  --color-text-muted: var(--text-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  background-image: 
    linear-gradient(90deg, transparent 80%, rgba(225, 6, 0, 0.05) 80%, rgba(225, 6, 0, 0.05) 82%, transparent 82%, transparent 83%, rgba(0, 0, 0, 0.05) 83%, rgba(0, 0, 0, 0.05) 85%, transparent 85%),
    repeating-linear-gradient(45deg, rgba(0,0,0,0.01) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.01) 75%, rgba(0,0,0,0.01)),
    repeating-linear-gradient(45deg, rgba(0,0,0,0.01) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.01) 75%, rgba(0,0,0,0.01));
  background-size: 100% 100%, 60px 60px, 60px 60px;
  background-position: 0 0, 0 0, 30px 30px;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.dark body {
  background-color: #050505;
  background-image: 
    repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,0.05) 5px, rgba(255,255,255,0.05) 10px),
    repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,255,255,0.05) 5px, rgba(255,255,255,0.05) 10px);
  background-size: 256px 256px;
}
